{% extends "base.html" %}

{% block title %}

Journal Entry

{% endblock %}

{% block content %}


<div class="focus-container">

    <h1>Focus Session</h1>

    <p class="focus-subtitle">

        Stay focused. One session at a time.

    </p>

    <div class="timer-box">

        <h2 id="timer">

            25:00

        </h2>

    </div>

    <div class="focus-buttons">

        <button onclick="startTimer()">

            Start

        </button>

        <button onclick="resetTimer()">

            Reset

        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>


{% endblock %}