<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Journal</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- Navbar -->

<nav>

    <div class="logo">MindSync AI</div>

    <ul>

        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>

    </ul>

</nav>

<!-- Journal Form -->

<div class="auth-container">

    <div class="auth-card">

        <h1>Daily Journal</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="flash {{ category }}">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <form method="POST">

            <textarea
                name="content"
                placeholder="Write your thoughts..."
                required>
            </textarea>

            <button type="submit">
                Save Entry
            </button>

        </form>

    </div>

</div>

<!-- Journal Entries -->

<section class="entries-section">

    <h2>Your Entries</h2>

    {% for entry in entries %}

    <div class="entry-card">
        
        <p class="timestamp">

    Created: {{ entry[2] }}

</p>

{% if entry[3] %}

    <p class="edited-text">

        Edited: {{ entry[3] }}

    </p>

{% endif %}
        <p>{{ entry[1] }}</p>
        <br>

       <div class="journal-actions">

    <a href="/edit_journal/{{ entry[0] }}">

        <button class="complete-btn">

            Edit

        </button>

    </a>

    <a href="/delete_journal/{{ entry[0] }}">

        <button class="delete-btn">

            Delete

        </button>

    </a>

</div> 

</div>

{% endfor %}

</section>

</body>

</html>